.subtitle {
	font-family: var(--font-family-body);
	background-color: var(--color-bg-folder);
	font-size: 2rem;
	margin-top: 0;
	text-align: center;
	padding: 2rem 3rem 1rem;
}

@media (max-width: 650px) {
	.subtitle {
		padding: 2rem 1rem 1rem;
	}
}

.home.hero {
	max-width: 600px;
	width: 100%;
}

.highlights-header {
	text-align: center;
	background-color: transparent;
}
