---
layout: page.njk
permalink: tags/
title: All Tags
---

<ul class="taglist">
  {% for tag in collections | getKeys | removeBasicTags | sortAlphabetically %}
  {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
  <li>
    <a href="{{ tagUrl }}">
      <h2>{{ tag }}</h2>
      <p>{{ collections[tag].length }} posts</p>
    </a>
  </li>
  {% endfor %}
</ul>
